CozyComfort_ClientApplication/Connected Services/UserWebService/UserWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="registerUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contactNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="role" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="registerUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="registerUserResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="autoUserID">
        <s:complexType />
      </s:element>
      <s:element name="autoUserIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="autoUserIDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="loginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="logout">
        <s:complexType />
      </s:element>
      <s:element name="logoutResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="logoutResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="assignDistributorToSeller">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sellerID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="distributorID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="assignDistributorToSellerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="assignDistributorToSellerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDistributorIDForSellerID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sellerID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDistributorIDForSellerIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getDistributorIDForSellerIDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getUserDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getUserDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getUserDetailsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="registerUserSoapIn">
    <wsdl:part name="parameters" element="tns:registerUser" />
  </wsdl:message>
  <wsdl:message name="registerUserSoapOut">
    <wsdl:part name="parameters" element="tns:registerUserResponse" />
  </wsdl:message>
  <wsdl:message name="autoUserIDSoapIn">
    <wsdl:part name="parameters" element="tns:autoUserID" />
  </wsdl:message>
  <wsdl:message name="autoUserIDSoapOut">
    <wsdl:part name="parameters" element="tns:autoUserIDResponse" />
  </wsdl:message>
  <wsdl:message name="loginSoapIn">
    <wsdl:part name="parameters" element="tns:login" />
  </wsdl:message>
  <wsdl:message name="loginSoapOut">
    <wsdl:part name="parameters" element="tns:loginResponse" />
  </wsdl:message>
  <wsdl:message name="logoutSoapIn">
    <wsdl:part name="parameters" element="tns:logout" />
  </wsdl:message>
  <wsdl:message name="logoutSoapOut">
    <wsdl:part name="parameters" element="tns:logoutResponse" />
  </wsdl:message>
  <wsdl:message name="assignDistributorToSellerSoapIn">
    <wsdl:part name="parameters" element="tns:assignDistributorToSeller" />
  </wsdl:message>
  <wsdl:message name="assignDistributorToSellerSoapOut">
    <wsdl:part name="parameters" element="tns:assignDistributorToSellerResponse" />
  </wsdl:message>
  <wsdl:message name="getDistributorIDForSellerIDSoapIn">
    <wsdl:part name="parameters" element="tns:getDistributorIDForSellerID" />
  </wsdl:message>
  <wsdl:message name="getDistributorIDForSellerIDSoapOut">
    <wsdl:part name="parameters" element="tns:getDistributorIDForSellerIDResponse" />
  </wsdl:message>
  <wsdl:message name="getUserDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:getUserDetails" />
  </wsdl:message>
  <wsdl:message name="getUserDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:getUserDetailsResponse" />
  </wsdl:message>
  <wsdl:portType name="UserWebServiceSoap">
    <wsdl:operation name="registerUser">
      <wsdl:input message="tns:registerUserSoapIn" />
      <wsdl:output message="tns:registerUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="autoUserID">
      <wsdl:input message="tns:autoUserIDSoapIn" />
      <wsdl:output message="tns:autoUserIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="login">
      <wsdl:input message="tns:loginSoapIn" />
      <wsdl:output message="tns:loginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="logout">
      <wsdl:input message="tns:logoutSoapIn" />
      <wsdl:output message="tns:logoutSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="assignDistributorToSeller">
      <wsdl:input message="tns:assignDistributorToSellerSoapIn" />
      <wsdl:output message="tns:assignDistributorToSellerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getDistributorIDForSellerID">
      <wsdl:input message="tns:getDistributorIDForSellerIDSoapIn" />
      <wsdl:output message="tns:getDistributorIDForSellerIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getUserDetails">
      <wsdl:input message="tns:getUserDetailsSoapIn" />
      <wsdl:output message="tns:getUserDetailsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UserWebServiceSoap" type="tns:UserWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="registerUser">
      <soap:operation soapAction="http://tempuri.org/registerUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="autoUserID">
      <soap:operation soapAction="http://tempuri.org/autoUserID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="login">
      <soap:operation soapAction="http://tempuri.org/login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logout">
      <soap:operation soapAction="http://tempuri.org/logout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="assignDistributorToSeller">
      <soap:operation soapAction="http://tempuri.org/assignDistributorToSeller" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDistributorIDForSellerID">
      <soap:operation soapAction="http://tempuri.org/getDistributorIDForSellerID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserDetails">
      <soap:operation soapAction="http://tempuri.org/getUserDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UserWebServiceSoap12" type="tns:UserWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="registerUser">
      <soap12:operation soapAction="http://tempuri.org/registerUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="autoUserID">
      <soap12:operation soapAction="http://tempuri.org/autoUserID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="login">
      <soap12:operation soapAction="http://tempuri.org/login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logout">
      <soap12:operation soapAction="http://tempuri.org/logout" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="assignDistributorToSeller">
      <soap12:operation soapAction="http://tempuri.org/assignDistributorToSeller" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDistributorIDForSellerID">
      <soap12:operation soapAction="http://tempuri.org/getDistributorIDForSellerID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserDetails">
      <soap12:operation soapAction="http://tempuri.org/getUserDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserWebService">
    <wsdl:port name="UserWebServiceSoap" binding="tns:UserWebServiceSoap">
      <soap:address location="https://localhost:44331/UserWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="UserWebServiceSoap12" binding="tns:UserWebServiceSoap12">
      <soap12:address location="https://localhost:44331/UserWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>